h3 {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
}

#side-navbar {
  background-color: #3C5A54;
  overflow: auto;
  color: #88959E;
  font-weight: 600;
  height: 100vh;
}

.menu-list {
  padding-top: 10px;
  padding-bottom: 10px;
}

#side-navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button-color {
  background-color: #3C5A54 !important;
  border: none !important;
  font-size: 16px !important;
  outline: none !important;
  position: fixed;
  margin-left: 20px;
}

#profile-picture {
  max-width: 48px !important;
  max-height: 48px !important;
}

#add-password {
  border: none;
  position: fixed;
  top: 90%;
  left: 96%;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: end;
}

.launch-button {
  display: none !important;
}

#password-display-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}
.tile {
  padding: 0 !important;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-tile {
  margin-top: 13vh;
}

.width {
  width: 35vw !important;
}

#settings-menu-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.dropdown-content {
  margin-top: 5px;
  padding: 1em !important;
}

.ml {
  margin-left: 16px;
}